[tool.uv.workspace]
members = [
    "src/modaic-sdk",
    "src/modaic-client",
    "tests/artifacts/test_repos/simple_repo",
    "tests/artifacts/test_repos/simple_repo_with_compile",
    "tests/artifacts/test_repos/nested_repo",
    "tests/artifacts/test_repos/nested_repo_2",
    "tests/artifacts/test_repos/nested_repo_3",
    "tests/artifacts/test_repos/multi_module_repo",
    "tests/artifacts/test_repos/failing_repo",
]

[dependency-groups]
dev = [
    "ipykernel>=6.30.0",
    "pydoc-markdown>=4.8.2",
    "pydoc-mintlify>=0.1.0",
    "pytest>=8.4.1",
    "ruff>=0.12.7",
    "matplotlib>=3.10.6",
    "modaic",
    "modaic-client",
    "rich>=14.1.0",
    "pytest-asyncio>=1.3.0",
    "torch>=2.10.0",
]
examples = [
    "langchain-text-splitters>=0.3.9",
    "pinecone>=7.3.0",
]

[tool.uv.sources]
modaic = { workspace = true }
modaic-client = { workspace = true }

[tool.ruff]
line-length = 120
fix = true
exclude = ["*scratchpad*.py", "**/*.ipynb"]

[tool.ruff.lint]
select = ["E", "F", "I", "B", "T20", "ERA", "ANN", "N"]
unfixable = ["F401", "F841"]
ignore = ["ANN202","ANN002", "ANN003", "ANN204", "ANN401"]
extend-ignore = ["E501"]

[tool.ruff.lint.flake8-annotations]
suppress-none-returning = true

[tool.pytest.ini_options]
pythonpath = ["."]
addopts = "-m 'not slow'"
markers = [
    "slow: slow or expensive tests",
]