name: Upload Python Package

on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    release-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # IMPORTANT: ensure tags are available for hatch-vcs

            - name: Install uv
              run: curl -LsSf https://astral.sh/uv/install.sh | sh

            - name: Build release distributions (version comes from the release tag)
              run: uv build

            - name: Upload distributions
              uses: actions/upload-artifact@v4
              with:
                  name: release-dists
                  path: dist/

    pypi-publish:
        runs-on: ubuntu-latest
        needs:
            - release-build
        permissions:
            id-token: write # mandatory for trusted publishing

        environment:
            name: pypi
            url: https://pypi.org/project/modaic/

        steps:
            - name: Retrieve release distributions
              uses: actions/download-artifact@v4
              with:
                  name: release-dists
                  path: dist/

            - name: Publish release distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: dist/
